## 빅데이터분석기사 작업형 2

학생성적 예측 데이터
- 데이터 설명 : 학생성적 예측 (종속변수 :G3)
- x_train: https://raw.githubusercontent.com/Datamanim/datarepo/main/studentscore/X_train.csv
- y_train: https://raw.githubusercontent.com/Datamanim/datarepo/main/studentscore/y_train.csv
- x_test: https://raw.githubusercontent.com/Datamanim/datarepo/main/studentscore/X_test.csv
- x_label(평가용) : https://raw.githubusercontent.com/Datamanim/datarepo/main/studentscore/y_test.csv
- 데이터 출처 :https://www.kaggle.com/datasets/ishandutta/student-performance-data-set (참고, 데이터 수정)

In [1]:
import pandas as pd
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/studentscore/X_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/studentscore/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/studentscore/X_test.csv")

display(x_train.head())
display(y_train.head())

,StudentID,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,...,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2
0,1714,GP,F,18,U,GT3,T,4,3,other,...,no,4,3,3,1,1,3,0,14,13
1,1254,GP,F,17,U,GT3,T,4,3,health,...,yes,4,4,3,1,3,4,0,13,15
2,1639,GP,F,16,R,GT3,T,4,4,health,...,no,2,4,4,2,3,4,6,10,11
3,1118,GP,M,16,U,GT3,T,4,4,services,...,no,5,3,3,1,3,5,0,15,13
4,1499,GP,M,19,U,GT3,T,3,2,services,...,yes,4,5,4,1,1,4,0,5,0

   StudentID  G3
0       1714  14
1       1254  15
2       1639  11
3       1118  13
4       1499   0

In [2]:
# 결측치 확인
print(x_train.isna().sum())
print(x_test.isna().sum())

StudentID     0
school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
dtype: int64
StudentID     0
school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
dtype: int64

In [3]:
# 불필요한 컬럼 제거
x_test_StudentID = x_test['StudentID']
x_train = x_train.drop(columns = ['StudentID'], axis =1)
x_test = x_test.drop(columns = ['StudentID'], axis =1)

In [4]:
# 범주형, 수치형 변수확인
obj = x_train.select_dtypes(include = 'object').columns
num = x_train.select_dtypes(include = 'number').columns
print(obj)
print(num)

Index(['school', 'sex', 'address', 'famsize', 'Pstatus', 'Mjob', 'Fjob',
       'reason', 'guardian', 'schoolsup', 'famsup', 'paid', 'activities',
       'nursery', 'higher', 'internet', 'romantic'],
      dtype='object')
Index(['age', 'Medu', 'Fedu', 'traveltime', 'studytime', 'failures', 'famrel',
       'freetime', 'goout', 'Dalc', 'Walc', 'health', 'absences', 'G1', 'G2'],
      dtype='object')

In [5]:
# 범주형 변수 전처리
x_train = pd.get_dummies(x_train)
x_test = pd.get_dummies(x_test)

In [6]:
# 수치형 변수 전처리
from sklearn.preprocessing import StandardScaler
scaler  =  StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.fit_transform(x_test)

In [7]:
# 데이터 분리
from sklearn.model_selection import train_test_split
X_TRAIN, X_TEST, Y_TRAIN, Y_TEST = train_test_split(x_train, y_train['G3'], test_size = 0.3, random_state = 1234)

In [8]:
# 모델링
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()
model.fit(X_TRAIN, Y_TRAIN)
Y_TEST_PRED = model.predict(X_TEST)

In [9]:
# 평가
from sklearn.metrics import r2_score
print(r2_score(Y_TEST, Y_TEST_PRED))

0.8169050374477265

In [10]:
# 최종제출
y_test_pred = model.predict(x_test)
result = pd.DataFrame(y_test_pred)
final = pd.concat([x_test_StudentID, result], axis =1).rename(columns = {0:'G3'})
final.to_csv('123456.csv', index = False)

In [12]:
# 제출확인
check = pd.read_csv('123456.csv')
print(check)

     StudentID     G3
0         1000  16.28
1         1008  11.01
2         1013  14.23
3         1014   7.00
4         1017  11.17
..         ...    ...
361       2032  15.40
362       2034  12.36
363       2035  15.91
364       2036   0.82
365       2037  15.32

[366 rows x 2 columns]